*{
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
html{
	scroll-behavior: smooth;
}
body{
	color:#aaa;
	margin:auto;
	min-width:660px;
	max-width:1200px;
	position: relative;
	background: url(/res/img/green.jpg) no-repeat;
	background-size: 100% 54px;
	background-position: 0px 30px;
}
.header{
	height: 150px;
	width:100%;
	text-align: center;
	color: #262626;
}
.navbar {
	display: flex;
	overflow: hidden;
	width: 100%;
	padding: 32px 0 0 175px;
}
.logo_nav {
	position: absolute;
	height: 105px;
	width: 160px;
	background:url(/res/img/logo_w.png) no-repeat;
	background-size:140px 100px;
	background-position:10px 0px;
}

.navbar a {
	color: white;
	padding: 16px 20px;
	float: left;
	text-decoration: none;
	text-align: center;
	border-radius: 7px;
}

.navbar a:hover {
	background-color: #08702a;
	color: white;
}
.content {
	display: flex;
	flex-wrap: wrap;
}
.map{
	flex:60%;
	background-color: #f1f1f1;
	padding: 20px;
	color: black;
	text-align: center;
}

.icons {
	width: 75px;
    height: 75px;
}

.graph {
	text-align: center;
	flex:40%;
	width:400px;
	background-color: #f1f1f1;
	padding: 20px;
}

#sideheader{
	color:  #047f31;
}


.prev_img{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #ccc;
}

.land {
	fill-opacity: 1;
	stroke:white;
	stroke-opacity: 1;
	stroke-width:0.5;
}

.land:hover {
	fill: #047f31;
	cursor: pointer;
}

.land.active {
	fill: #047f31;
}

.land2 {
	fill-opacity: 1;
	stroke:white;
	stroke-opacity: 1;
	stroke-width:1.5;
}

.land2:hover {
	fill: #999999;
	cursor: pointer;
}

.land2.active {
	fill: #999999;
	cursor: pointer;
}

@media (max-width: 700px) {
  .row, .navbar {   
	flex-direction: column;
  }
}

.tooltip {
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: fixed;
    z-index: 1;
}

.tooltip.active {
   	display: initial;
}

.tab {
	display : none;
}

#tabs {
   width: 100%;
   height: 32px; 
   border-bottom: solid 1px #CCC;
   padding-right: 2px;
   margin-top: 30px;
}

#tabs li {
	float:left; 
    list-style:none;
    margin-right:5px; 
}

#tabs li a {
    font-weight: bold; 
    text-decoration:none;
    color: #047f31;
    border: 1px solid #b3b3b3; 
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-top: 5px;
    padding-left: 7px;
   	padding-right: 7px;
    padding-bottom: 7px; 
    display:block; 
    background: #FFF;
}

.tab li a.active{
    background-color: #08702a;
}


#tabs li a:hover, #tabs li a.inactive:hover {
	color: #08702a;
}

.graph button{
	position: absolute;
	right: 40px;
	top: 570px;
	color: white;
	background-color: #96BA1C;
	font-weight: bold; 
	display:block;
	padding-top: 9px;
    padding-left: 9px;
   	padding-right: 9px;
    padding-bottom: 9px; 
    border-radius: 9px;
    border: 1px solid #b3b3b3; 
}

.weatherdata {
	position: absolute;
	bottom: 110px;
	right: 20px;
	padding:40px;
	border: 1px solid #f1f1f1;
	border-top-color: #ccc;
	border-bottom-color: black;
	width: 440px;
	height: 248px;
}

#weatherlocation{
	color:  #047f31;
}

#weathertemperature h1{
	color: black;
	font-size: 60px;
	line-height: 0px;
	float: left;
}

#weatherpicture img{
	float: left;
	width: 100px;
}

#weatherrain{}

#weatherwind{}