*{
	box-sizing: border-box;
}
html{
	font-family: Arial, sans-serif;
	scroll-behavior: smooth;
}
body{
	color:#aaa;
	background-color:#fff;
	margin: 0px;
}
.header{
	padding: 1px 10px ;
	text-align: center;
	background: #ffffff;
	color: #262626;
}
.navbar{
	overflow: hidden;
	width: 100%;
	background-color: #097d2f;
}
.navbar a {
	color: white;
	padding: 14px 20px;
	float: left;
	text-decoration: none;
	text-align: center;
}

.navbar a:hover {
	background-color: #08702a;
	color: white;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.side{
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
	color: black;
}

.icons {
	width: 75px;
    height: 75px;
}

.main {
	flex: 70%;
	background-color: #fff;
	padding: 20px;
}
.img {
	width: 100%;
	padding: 20px;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #097d2f;
}
@media (max-width: 700px) {
  .row, .navbar {   
	flex-direction: column;
  }
}


